ul li a { 
  text-decoration: none; 
}

.container {
  display: flex;
  flex-direction: column;
}

/* ----- header ----- */
.header {
  width: 100%;
  padding: 10px 0 10px;
}
.global-nav {
  margin: 15px 0;
  display: flex;
  justify-content: center;
}
.global-nav .nav-item {
  display: inline-block;
  margin: 0 10px;
}
.global-nav .nav-item.title {
  text-decoration: underline;
  color: #404A56;
  font-size: 1.2rem;
}
.global-nav .nav-item a {
  display: inline-block;
  width: 100px;
  height: 30px;
  text-align: center;
  color: #5F707A;
}

/* ----- main ----- */
.main {
  display: flex;
  justify-content: center;
  width: 100%;
  background: #E2E2E2;
}
.main-columns {
  width: 980px;
}

.main-ad {
  display: flex;
}
.main-ad .ad-area-left {
  width: 490px;
  height: 388px;
  background: #759BA4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 42px;
  box-sizing: border-box;
}
.main-ad .ad-area-right {
  width: 490px;
  height: 388px;
  background: #E2E2E2;
}
.main-ad .ad-area-left .text-title {
  font-weight: bold;
  font-size: 2.7rem;
  color: #39484B;
  margin-top: 15px;
}
.main-ad .ad-area-left .text-subtitle {
  font-size: 1.3rem;
  letter-spacing: 2px;
  color: #F5FFFF;
  margin-top: 20px;
  text-decoration: underline;
  text-decoration-color: #527378;
}
.main-product {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding-top: 20px;
  height: 657px;
}
.main-product:nth-child(4) {
  margin-bottom: 20px;
}
.main-product .card {
  display: flex;
  flex-direction: column;
  width: 314px;
  margin-right: 20px;
  background: #E2E2E2;
}
.main-product .card.item-full {
  height: 657px;
}
.main-product .card.item-half {
  height: 319px;
}
.main-product .card.item-half-space {
  height: 319px;
  margin-top: 19px;
}
.main-product .card.item-quarter {
  height: 169px;
  background: #759BA4;
}
.main-product .card.item-quarter .text-content {
  font-weight: bold;
  font-size: 2.5rem;
  color: #E7EDED;
  padding-top: 60px;
  text-align: center;
}
.main-product .card.item-threequarter {
  height: 468px;
  padding-top: 20px;
}
.card-prompt {
  position: absolute;
  z-index: 1;
  background: #759BA4;
  width: 100px;
  height: 60px;
  color: #E7EDED;
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ----- footer ----- */
.footer {
  height: 207px;
  background-color: #607d82;
  color: #9FB6BC;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.footer-item {
  display: flex;
  flex-direction: column;
  margin: 50px 70px;
}
.footer-item .subscribe {
  background-color: #405357;
  color: #9FB6BC;
}
.footer-item .text-standard {
  text-align: start;
}
.footer-item .text-standard.text-payway-icon {
  margin-top: 10px;
  text-align: start;
}
.text-standard.text-standard-icon {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.footer-item .text-email {
  color: #9FB6BC;
  text-decoration: none;
}
.footer-item .input-email {
  width: 450px;
  height: 38px;
  background: #D0D0D0;
  border: none;
  margin-bottom: 10px;
  padding-left: 10px;
}
.footer-item .btn-subscribe {
  width: 460px;
  height: 38px;
  background: #405357;
  color: #9FB6BC;
  border: none;
  cursor: pointer;
}
.footer-copyright {
  background-color: #5E5E5E;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.copyright {
  color: #9FB6BC;
}
.copyright-link {
  color: #9FB6BC;
}