ul li a { 
  text-decoration: none; 
}
p a {
  color: #8A8A8A;
}

/* ----- header ----- */
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.header-top {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  background-color: #E2E3E6;
}
.header-top-content {
  height: 40px;
  width: 900px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-top-main .header-top-item h3 {
  color: #455C6E;
  font-weight: bold;
}
.header-top-item .header-top-action {
  display: inline-block;
  width: 110px;
  text-align: center;
  color: #8F8F8F;
  font-size: 0.9rem;
}
.dotted-line {
  border-top: 1px dashed #979797;
  width: 100%;
  overflow: hidden;
  background-color: #E2E3E6;
}
.global-nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 130px;
  background-color: #E1E7E3;
}
.global-nav-content {
  display: flex;
  width: 900px;
  justify-content: space-between;
}
.global-nav-item {
  width: 550px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.global-nav .nav-item.active a {
  height: 100%;
  line-height: 130px;
  color: #19ACB4;
  background: linear-gradient(#1BB5AC, #84D0A6, #D2E5C0, #E1E7E3);
}
.global-nav .nav-item a {
  display: inline-block;
  width: 110px;
  text-align: center;
  color: #7B6F5B;
  text-shadow: 0 2px 2px #FFF;
}

/* ----- main ----- */
.template {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.template-item {
  width: 900px;
  height: 290px;
  color: #86969C;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  margin-bottom: 90px;
}
.template-item:nth-child(1) {
  margin-top: 40px;
}
.template-item .template-img {
  height: 290px;
  width: 450px;
}
.template-item.reverse .template-img {
  width: 420px;
}
.template-item .template-desc {
  width: 450px;
  font-size: 0.9rem;
  padding: 5px;
  box-sizing: border-box;
  text-align: right;
}
.template-item.reverse .template-desc {
  width: 480px;
  text-align: left;
}
.template-item .template-desc h1 {
  padding-bottom: 5px;
  font-size: 5rem;
  letter-spacing: 5px;
  background: linear-gradient(#9AB91A, #8EAC18, #738D14, #576F10);
  color: transparent;
  -webkit-background-clip: text;
}
.template-item .template-desc h4 {
  color: #E49E06;
  font-size: 1.5rem;
  letter-spacing: 0.5px;
}
.template-item .template-desc h6 {
  margin: -10px 30px 0 0;
  font-size: 0.8rem;
  letter-spacing: 10px;
  margin-bottom: 30px;
  color: #624F27;
}
.template-item .template-desc p {
  margin-top: 15px;
  color: #8A8A8A;
  line-height: 20px;
}

/* ----- footer ----- */
.footer {
  display: flex;
  justify-content: space-evenly;
  background: linear-gradient(#2ABFC1, #239FAE, #1E819D);
  height: 130px;
  padding-top: 10px;
}
.footer-item {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}
.footer-item p {
  color: #3CDBE3;
  font-size: 0.8rem;
  padding-top: 10px;
}
.footer-item img {
  margin-left: 25px;
}