
::-webkit-input-placeholder { color:#F2F0F1; }
::-moz-placeholder { color:#F2F0F1; } /* firefox 19+ */
:-ms-input-placeholder { color:#F2F0F1; } /* ie */
input:-moz-placeholder { color:#F2F0F1; }

ul li a { 
  text-decoration: none; 
}

/* ----- header ----- */
.header {
  width: 100%;
  height: 85px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: #494748;
}
.global-nav {
  width: 920px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.global-nav .nav-item span {
  font-size: 1.3rem;
  color: #C8C5C0;
  letter-spacing: 2px;
}
.global-nav .nav-item.active a {
  color: #FCFCFF;
}
.global-nav .nav-item a {
  color: #A6A4A5;
}

/* ----- board ----- */
.board {
  width: 100%;
  height: 650px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.board-entry {
  position: absolute;
  z-index: 2;
  top: 320px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.board-transparent {
  position: absolute;
  z-index: 1;
  top: 300px;
  width: 550px;
  height: 180px;
  background: rgba(228, 220, 228, 0.5);
}
.board-season {
  width: 550px;
  height: 45px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.board-season p {
  font-weight: bold;
  font-size: 3.5rem;
}
.board-shop {
  width: 215px;
  height: 40px;
  background: #2A2B2D;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.board-shop span {
  color: #DBECF6;
  font-size: 1.5rem;
}
.board-description{
  width: 100%;
  height: 50px;
  font-size: 0.9rem;
  letter-spacing: 3px;
  background: #E1E1E1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* ----- production ----- */
.production {
  width: 100%;
  height: 720px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.production-slogn {
  width: 920px;
  height: 260px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.production-slogn .slogn-title {
  font-size: 3.0rem;
  letter-spacing: 10px;
}
.production-slogn .slogn-title p {
  color: #2B271B;
}
.production-slogn .spaceline {
  width: 30px;
  border-bottom: 1px solid #292929;
  margin: 30px 0;
}
.production-slogn .slogn-subtitle {
  font-size: 1.7rem;
  letter-spacing: 5px;
}
.production-slogn .slogn-subtitle p {
  color: #2A2732;
}
.production-picture {
  width: 920px;
  height: 410px;
}
.production-picture-list {
  width: 930px;
  height: 410px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.production-picture-list-item {
  position: relative;
  width: 300px;
  height: 410px;
}

.picture-example-large {
  width: 100%;
  height: 600px;
  background: gray;
}
.picture-example {
  width: 300px;
  height: 410px;
  background: #E3E3E3;
}
.picture-example2 {
  width: 300px;
  height: 410px;
  background: #E4DEDE;
}

.picture-text {
  position: absolute;
  z-index: 1;
  top: 355px;
  width: 300px;
  height: 55px;
  background: #2A2B2D;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.picture-text p {
  color: #FEFFFF;
}
.picture-text-sale {
  position: absolute;
  z-index: 1;
  width: 300px;
  height: 160px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.picture-text-sale p {
  font-size: 3.0rem;
  letter-spacing: 10px;
}

/* ----- footer ----- */
.footer {
  background: #2A2B2D;
  width: 100%;
  height: 240px;
}
.footer-title {
  width: 100%;
  height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer-title-list {
  width: 920px;
  height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.footer-title-list p {
  width: 33%;
  color: #D1D1D3;
  font-size: 0.9rem;
  letter-spacing: 1px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.footer-item {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.footer-item-list {
  width: 920px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}
.contact-link {
  width: 33%;
  color: #DDDFDC;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.contact-link-list {
  width: 130px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.subscribe {
  width: 33%;
  height: 90px;
}
.subscribe-list input {
  width: 100%;
  height: 35px;
  border: none;
  margin-bottom: 10px;
  box-sizing: border-box;
  padding-left: 10px;
  background: #494748;
}
.subscribe-list button {
  width: 100%;
  height: 40px;
  border: none;
  background: #CDCDCD;
  color: #333333;
}
.company-information {
  width: 33%;
  color: #DDDFDC;
  font-size: 0.9rem;
  letter-spacing: 1px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.company-information p {
  color: #E5EEF3;
}
.company-information .company-information-phone {
  width: 100%;
  margin-bottom: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.company-information .company-information-email {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.copyright {
  margin-top: 30px;
  margin-bottom: 40px;
  color: #BFC5C5;
  font-size: 0.9rem;
  letter-spacing: 1px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.copyright a {
  color: #BFC5C5;
}